<svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
  <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
</svg>
<span><%=message%></span>
<button onclick="document.getElementById('alert').classList.add('opacity-0'); setTimeout(() => document.getElementById('alert').remove(), 300);" class="ml-2 focus:outline-none cursor-pointer">
  ✖
</button>
